:root{
    --accent-color: #2196F3;
    --background-color: E5E5E5;
    --background-button: #F5F4FA;
    --footer-bgcolor: #2F303A;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --header-color: #FFFFFF;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --studio-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    list-style: none;
    color: var(--main-text-color);
    background-color: var(--background-color);
}

.list{
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
}
.link{
    text-decoration: none;
}

/* стиль логотипа */
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.web{
    color: var(--accent-color);
}
.studio{
    color: var(--studio-color);
}

/* стиль навигации */

.site-nav,
.contact-nav{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus,
.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--main-text-color);
}

.contact-nav .link{
    color: var(--second-text-color);
}

/* стиль героя */
.hero{
    text-align: center;   
}
.hero .title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--header-color);
    background-color: lightgreen;
}

/* стиль кнопок */

.button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: var(--bgc-button);
}
.button.order{
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
.button:hover,
.button:focus{
    color: var(--header-color);
    background-color: var(--accent-color);
}

/* стиль особенности */

.features .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;;
    text-align: left;
    text-transform: uppercase;
}
.features .text{
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-text-color);
}
/* стиль чем мы занимаемся  и наша команда*/

.work .title,
.team .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team{
    line-height: 1.19;
}
.team .name{
    font-weight: 500;
    font-size: 16px;
}
.team .position{
    font-size: 16px;
    color: var(--second-text-color);
}

/* стиль проэкты */

.project .title{
    font-weight: 700;
    font-size: 18px;
    
    line-height: 2;
    letter-spacing: 0.06em;
}
.project .nav{
    font-size: 16px;
    line-height: 1.88;
}

/* стиль футера */

.footer{
    font-size: 14px;
    line-height: 1.71;
    background-color: var(--footer-bgcolor);
}
.footer .studio{
    color: var(--header-color);  
}
.address{
    text-decoration: none;
}
.address .link{
    color: var(--footer-text-color);
}
.address .place{
    color: var(--header-color);
}